body {
  /* diameter of the circle */
  --d: 1px; 
  
  
  background-image: radial-gradient(
    circle at 
      var(--d) 
      var(--d), 
      
    var(--secondary-color) calc(var(--d) - 1px), 
    var(--primary-color) var(--d)
  );
  
  background-size: 50px 50px;
}

:root {
  --primary-color: white;
  --secondary-color: rgb(27, 27, 27);
  --inbetween-color: #eeeeee;
  --portfolio-green: #adc7b2;
}

.custom-a {
  color: inherit;
  text-decoration: none;
}

/* :root {
  --primary-color: rgb(27, 27, 27);
  --secondary-color: white;
  --inbetween-color: #161616;
} */

