.about-section {
    margin-top: 12%;
    height: 50rem;
    background: var(--secondary-color);
}

.experience-content {
    padding-top: 7rem;
    padding-bottom: 5rem;
    color: var(--primary-color);
}

.experience-content h1, p{
  text-align: center;
}

.experiences-container {
  margin-top: 4em;
}

.experience {
  display: flex;
  margin-bottom: 2em;
}

.experience-skills {
  text-align: left;
  display: flex;
  color: var(--subtext-color);
}




/*
https://www.youtube.com/watch?v=hWGgw1K-i8Y
https://css-generators.com/
*/
.box {
  --mask:
    radial-gradient(67.08px at 50% 90px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  background-color: var(--secondary-color);

}


